---
interface Props {
  tags: string[];
  class?: string;
}

const { tags, class: className = '' } = Astro.props;
---

<div class={`flex flex-wrap gap-2 ${className}`}>
  {
    tags.map((tag) => (
      <a
        href={`/tags/${tag}`}
        class="pill text-xs transition-all hover:-translate-y-0.5"
      >
        #{tag}
      </a>
    ))
  }
</div>
